
::-webkit-input-placeholder { color:rgb(170,75,201); }
::-moz-placeholder { color:rgb(170,75,201); } /* firefox 19+ */
:-ms-input-placeholder { color:rgb(170,75,201); } /* ie */
input:-moz-placeholder { color:rgb(170,75,201); }

#leadForm {
    width: 500px;
    background-color:rgba(240,211,239,0.3) ;
    display: block ;
    overflow: hidden;
}
#leadForm h1 {
	font-family: helvetica, Arial, sans-serif;
    font-weight:100;
    color: purple;
    text-align: left;
    margin-top: 30px;
	margin-bottom: 13px;
    margin-left: 10px;
    padding: 0 ;
}
#leadForm input[type="email"], #leadForm input[type="number"], #leadForm input[type="text"] {
background-color : rgb(241,220,249);
color : rgb(138,0,183);
border : 1px solid purple ;
font-size : 1.1em;
height : 35px;
line-height : 35px;
padding : 10px;
width : 450px;
margin : 10px 10px;
}
#leadForm .error-message {
	margin-top: 30px ;
	float: left ;
	color : red;
	font-size : 12px;
}

.cta_idol {
	float: right;
	margin-right: 17px;
	border-top-color: #F0F026;
	border-right-color: #B09B55;
	border-bottom-color: #B09B55;
	border-left-color: #F0F026;
	border-width: 2px;
	border-style: solid;
	-webkit-box-shadow: #B4B5B5 2px 2px 3px ;
	-moz-box-shadow: #B4B5B5 2px 2px 3px ; 
    box-shadow: #B4B5B5 2px 2px 3px ;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    font-size:18px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 60px ;
    text-decoration:none;
    text-shadow: 2px 2px 0 rgb(212,141,38);
    color: #FFFFFF;
 background-color: #E8DD00; background-image: -webkit-gradient(linear, top, bottom, from(#E8DD00 10%), to(#DCAA00 90%));
 background-image: -webkit-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: -moz-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: -ms-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: -o-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: linear-gradient(to bottom, #E8DD00 10%, #DCAA00 90%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E8DD00, endColorstr=#DCAA00);
}
.cta {
	float: right;
	margin-bottom: 30px;
	margin-right: 20px;
	border-top-color: #F0F026;
	border-right-color: #B09B55;
	border-bottom-color: #B09B55;
	border-left-color: #F0F026;
	border-width: 2px;
	border-style: solid;
	-webkit-box-shadow: #B4B5B5 2px 2px 3px ;
	-moz-box-shadow: #B4B5B5 2px 2px 3px ; 
    box-shadow: #B4B5B5 2px 2px 3px ;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    font-size:18px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 60px ;
    text-decoration:none;
    text-shadow: 2px 2px 0 rgb(212,141,38);
    color: #FFFFFF;
 background-color: #E8DD00; background-image: -webkit-gradient(linear, top, bottom, from(#E8DD00 10%), to(#DCAA00 90%));
 background-image: -webkit-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: -moz-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: -ms-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: -o-linear-gradient(top, #E8DD00 10%, #DCAA00 90%);
 background-image: linear-gradient(to bottom, #E8DD00 10%, #DCAA00 90%);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E8DD00, endColorstr=#DCAA00);
}

.cta:hover {
 border:2px solid #827c00;
 background-color: #9365F0; background-image: -webkit-gradient(linear, top, bottom, from(#9365F0 10%), to(#CC31EB 90%));
 background-image: -webkit-linear-gradient(top, #9365F0, #CC31EB);
 background-image: -moz-linear-gradient(top, #9365F0, #CC31EB);
 background-image: -ms-linear-gradient(top, #9365F0, #CC31EB);
 background-image: -o-linear-gradient(top, #9365F0, #CC31EB);
 background-image: linear-gradient(to bottom, #9365F0, #CC31EB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9365F0, endColorstr=#CC31EB);
}
.cta:active {
 	-webkit-box-shadow: #B4B5B5 1px 1px 2px ;
	-moz-box-shadow: #B4B5B5 1px 1px 2px ; 
    box-shadow: #B4B5B5 1px 1px 2px ;
 
 border:1px solid #827c00;
 background-color: #9365F0; background-image: -webkit-gradient(linear, top, bottom, from(#DB92DE 10%), to(#CC31EB 90%));
 background-image: -webkit-linear-gradient(top, #DB92DE, #CC31EB);
 background-image: -moz-linear-gradient(top, #DB92DE, #CC31EB);
 background-image: -ms-linear-gradient(top, #DB92DE, #CC31EB);
 background-image: -o-linear-gradient(top, #DB92DE, #CC31EB);
 background-image: linear-gradient(to bottom, #DB92DE, #CC31EB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9365F0, endColorstr=#CC31EB);
}
.mylist {
	width:150;
	height: 100 ;
	display: block ;
}
.plusdiv {
	font-size: 14px;
	color: purple ;
	float: left ;
	margin-left: 5px ;
	margin-top: 15px ;
}
.ctaplus {
	background-color: #DCAA00 ;
	font-size: 20px;
	font-weight: bold ;
	color : purple;
	float: left ;
	border : 2px solid purple ;
	border-radius: 30% ;
	margin-left: 9px ;
	margin-top: 10px ;
	padding: 0 4px ;
}
.ctaplus_last {
	background-color: #DCAA00 ;
	font-size: 20px;
	font-weight: bold ;
	color : purple;
	float: right ;
	border : 2px solid purple ;
	border-radius: 30% ;
	margin-left: 9px ;
	margin-top: 10px ;
	padding: 0 4px ;
}
.plusdiv_last {
	font-size: 14px;
	color: purple ;
	float: right ;
	margin-right: 20px;
	margin-left: 5px ;
	margin-top: 15px ;
}

