    <!doctype html>
<html ng-app="myApp">
    
    <head>
        <meta charset="utf-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script> 
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <link   rel="stylesheet" href="css/normalize.css" type="text/css"/>
        <!-- <link   rel="stylesheet" href="css/formalize.css" type="text/css"/> -->
        <link   rel="stylesheet" href="css/index.css"     type="text/css"/>

         <script src="main.js"></script> 

        <title>My AngularJS App</title>

    </head>
    
    <body >
      <div ng-controller="getPersonCtrl">
       
            <form id="leadForm" name="leadForm" novalidate="" data-ng-submit=""  
            class="ng-dirty ng-valid-email ng-valid ng-valid-required">
                <h1 data-ng-hide="showAddFriends"> SIGN UP NOW! </h1>
                <h1 data-ng-show="showAddFriends"> INVITE UP TO 5 FRIENDS </h1>

            <input type="text" required="" placeholder="First Name" id="firstName" name="firstName" data-ng-model="firstName" class="ng-pristine ng-invalid ng-inva
            lid-required"><br>
            
            <input type="text" placeholder="Last Name" data-ng-model="lastName"  id="lastName" name="lastName" class="ng-pristine ng-invalid ng-invalid-requi
            red"><br>
            
            <input type="number" placeholder="Phone Number" data-ng-model="phone" id="phone" name="phone" class="ng-pristine ng-invalid ng-invalid-required ng-valid-num
            ber"><br>

            <!-- <input type="email" placeholder="Email" data-ng-model="email" id="email" name="email" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email"><br>
   -->
            <input type="button" value="SEND" class="cta_idol" data-ng-hide="showAddFriends" disabled="disabled">
            

            <input type="button" value="++" class="ctaplus" data-ng-hide="showAddFriends" data-ng-click="showAddFriends=true; addPerson()">
            <span data-ng-hide="showAddFriends" class="plusdiv">INVITE A FRIEND</span>
            
            <span data-ng-show="showAddFriends" class="plusdiv_last"> ADD </span>
            <input type="button" value="+" class="ctaplus_last" data-ng-show="showAddFriends" data-ng-click="addPerson()">
            
            <span class="error-message" data-ng-show="leadForm.firstName.$error.required || leadForm.lastName.$error.required || leadForm.email.$error.required" style="">Please fill all fields</span>
            <span class="error-message" data-ng-show="leadForm.phone.$error.required &amp;&amp; !(leadForm.firstName.$error.required || leadForm.lastName.$error.required || leadForm.email.$error.required)" style="display: none;">Please fill a valid number</span>
            <span class="error-message" data-ng-show="!leadForm.$error.required &amp;&amp; leadForm.$error.email" style="display: none;">Please fill a valid email</span>
            
            <div class="mylist">
                <ul >
                    <li ng-repeat="person in persons">
                      <h4> {{person.pfirstName}} {{person.plastName}}</h4>
                        
                    </li>
                </ul>   
            </div>
            
            <input type="submit" value="SEND" class="cta" data-ng-disabled="!leadForm.$valid" disabled="disabled"  data-ng-show="showAddFriends">
                    
            </form> 

            

      </div>   
    
    </body>

</html>